@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.all {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

footer {
    margin-top: auto;
}

.special-div {
    position: absolute;
    inset: auto auto 0px 0px;
    margin: 0px;
    transform: translate3d(1015px, 893px, 0px);
}

#nozama {
    font-family: 'Bangers', serif;
}